.dp--radio ul{

    // Reset
    input[type=radio]{
        border: none;
        clear: none;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        color: $action;
    }

    // Style
    input[type=radio] {
        border-radius: 100px;
        background: none;
        border: 2px solid $not-active-color;
        
        height: 22px !important;
        width: 22px !important;
            
            &:hover{
                border: 2px solid $action;        
            }
        
            &:before {
                content: '';
                display: block;
                width: 6px !important;
                height: 6px !important;
                border-style: solid;
                border-image: initial;
                background: $action;

                transform: scale(0);
                transform-origin: 100% 100%;
                transition: all 0.1s ease-in;
            }


            &:checked {
                // background-color: $action;
                border: 2px solid $action;        
            }

            &:checked:before {
                transform: scale(1);
                transform-origin: 50% 50%;
                transition: all 0.1s ease-in;
            }

            &:focus{
                box-shadow: none;
                outline: none;
            }

    }
   
}