.checkbox {
    display: flex;
    vertical-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: $body--fzn;
    user-select: none;
    margin-bottom: 15px;


    &__input {
    // position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;


        &:checked ~ .checkbox__bg {
            background-color: $action;

            &::after {
              display: block;
            }
        }


    }


    &__bg {
    // position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $disabled;
        transition: .2s;
        margin-right: 15px;
        border-radius: 2px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 15px;
            top: 5px;
            width: 5px;
            height: 10px;
            transform: rotate(45deg);
            border-style: solid;
            border-color: white;
            border-image: initial;
            border-width: 0px 3px 3px 0px;
        }
    }

    &:hover .checkbox__input ~ .checkbox__bg {
        transition: .2s;
        background-color: $action;
    }


}
